        body {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          
            background-color: #F4F6F9
       
        }

        h1{
            text-align: center;
            color: #1E40AF;
            margin-top: 20px;
        }

        h2{
            margin-top: 10px;
            padding-top: 20px;
            color: white;
        }

        #quiz-container {
            height: fit-content;
            width: 400px;
            border: 2px solid black;
            text-align: center;
            margin: 15px;
            margin-top: 15px;
            border-radius: 10px;
              background-color: #2563EB;
              border: none;
            padding-bottom: 20px;
        }

        .btn {
            width: 90%;
            padding: 15px;
            margin: 15px;
            margin-top: 5px;
            font-weight: 700;
            border-radius: 10px;
            cursor: pointer;
            border: none;
            background-color: #38BDF8;
        }

        .ans-btn {
            width: 90%;
            padding: 15px;
            margin: 7px;
            font-weight: 500;
            border-radius: 10px;
            cursor: pointer;
            border: none;
            
            
        }

        .correct {
            background-color:#22C55E;
              color: rgb(255, 255, 255);
            font-weight: 550;
        }

        .incorrect {
            background-color: 	#EF4444;
               color: rgb(255, 255, 255);
            font-weight: 550;
        }